.wrapper {
  padding-block: 1rem;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}
.wrapper table {
  margin-inline: auto;
  scroll-snap-type: inline mandatory;
  scroll-snap-align: start;
}
.tableSum,
.tablePercentage {
  background-color: #000;
  font-weight: 700;
  min-width: 50px;
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}
.tablePercentage td {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}

@media (min-width: 550px) {
  .wrapper {
    padding-inline: 2rem;
  }
  .wrapper table {
    scroll-margin-inline: 2rem;
  }
}
